div {
  font-family: 'Roboto Mono', monospace!important;

}
.ui button {
  font-family: 'Roboto Mono', monospace!important;


}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace!important;



}

body {
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace!important;


}

h2 {
  font-family: 'Roboto Mono', monospace!important;

}

body .ui.cards>.card{
  box-shadow: none;
  font-family: 'Roboto Mono', monospace!important;
  background:none;

}
body .ui.button{
  font-family: 'Roboto Mono', monospace!important;

}

.container {

  position:fixed !important;
  left: 50% !important;
  right:50% !important; 
  top:50% !important;
  bottom:50% !important;
  
}



.ui form {


  /* width: 100px !important; */
  /* position: fixed; */
  /* bottom: 20%; */
  margin: 0 auto ;
  text-align: center;
  /* left: 20%; */
  font-family: 'Roboto Mono', monospace!important;




  

}

.form-container{
  margin: 0 auto ;
  width:300px;
}


#Aclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(51, 48, 252);
  display: inline-block;

  position: fixed;
  left: 20% ;
  right: 80%;


  -webkit-animation: fadeOut 6s linear forwards; 
  animation: fadeOut 6s linear forwards;
  transform: translateX(200px);

}
#Aclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(51, 48, 252);
  display: inline-block;

  position: fixed;
  left: 20% ;
  right: 80%;


}

#Aclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(51, 48, 252);
  display: inline-block;

  position: fixed;
  left: 20% ;
  right: 80%;
  bottom: 65%;

}

#aCube{
  position: fixed;
  left: 20% ;
  right: 80%;
  transition: top ease 0.5s;

}


#Bclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(101, 98, 248);
  display: inline-block;

  position: fixed;
  left: 30% ;
  right: 70%;



  -webkit-animation: fadeOut 6s linear forwards; 
  animation: fadeOut 6s linear forwards;
  transform: translateX(200px);

}


#Bclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(101, 98, 248);
  display: inline-block;

  position: fixed;
  left: 30% ;
  right: 70%;


}

#Bclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(101, 98, 248);
  display: inline-block;

  position: fixed;
  left: 30% ;
  right: 70%;
  bottom:65%;

}

#bCube{
  position: fixed;
  left: 30% ;
  right: 70%;

}



#Cclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: blueviolet;
  display: inline-block;

  position: fixed;
  left: 40% ;
  right: 60%;
 
  animation: fadeOut 3s linear forwards;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

#Cclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: blueviolet;
  display: inline-block;

  position: fixed;
  left: 40% ;
  right: 60%;
 
}
#Cclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: blueviolet;
  display: inline-block;

  position: fixed;
  left: 40% ;
  right: 60%;
  bottom: 65%;
 
}

#cCube{
  position: fixed;
  left: 40% ;
  right: 60%;

}

#Dclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 180);
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;


  -webkit-animation: fadeOut 3s linear forwards;
  animation: fadeOut 3s linear forwards;
}

#Dclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 180);
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;


}
#Dclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 180);
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;
  bottom: 65%;


}

#dCube {

  position: fixed;
  left: 50% ;
  right: 50%;

}

#Eclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 89);
  display: inline-block;

  position: fixed;
  left: 60% ;
  right: 40%;


  -webkit-animation: fadeOut 3s linear forwards;
  animation: fadeOut 3s linear forwards;
}
#Eclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 89);
  display: inline-block;

  position: fixed;
  left: 60% ;
  right: 40%;
}

#Eclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 43, 89);
  display: inline-block;

  position: fixed;
  left: 60% ;
  right: 40%;
  bottom:65%;
}

#eCube {
  position: fixed;
  left: 60% ;
  right: 40%;

}

#Fclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 141, 43);
  display: inline-block;

  position: fixed;
  left: 70% ;
  right: 30%;


  -webkit-animation: fadeOut 3s linear forwards;
  animation: fadeOut 3s linear forwards;
}

#Fclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 141, 43);
  display: inline-block;

  position: fixed;
  left: 70% ;
  right: 30%;


}

#Fclass2{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 141, 43);
  display: inline-block;

  position: fixed;
  left: 70% ;
  right: 30%;
  bottom: 65%;


}
#fCube{
  position: fixed;
  left: 70% ;
  right: 30%;


}
#Gclass{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 198, 43);
  display: inline-block;

  position: fixed;
  left: 80% ;
  right: 20%;


  -webkit-animation: fadeOut 3s linear forwards;
  animation: fadeOut 3s linear forwards;
}

#Gclass2{
  /* margin-top : 30 px; */
  min-width: 120px;
  min-height:120px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 198, 43);
  display: inline-block;

  position: fixed;
  left: 80% ;
  right: 20%;
}


#Gclass2small{
  /* margin-top : 30 px; */
  min-width: 60px;
  min-height:60px;
  border-radius: 50%;
  /* border: 1px solid pink; */
  background-color: rgb(226, 198, 43);
  display: inline-block;

  position: fixed;
  left: 80% ;
  right: 20%;
  bottom: 65%;
}

#gCube{
  position: fixed;
  left: 80% ;
  right: 20%;
}
#render-controls{
  display:none;
  position: fixed;
  /* bottom: 20%; */
  margin: 0 auto !important;
  text-align: center;
  
}


#outer {
  display:none;
  width: 100%;
  text-align: center;
  bottom: 20%;
}

#inner {
  display: inline-block;
}

#animation1 {
 margin-top: 10%;
 margin-left: 30%;
  width: 20px;
  background-color: pink;
  height: 150px;
}




#Aangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;


}

#Bangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 40% ;
  right: 60%;


}
#Cangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 30% ;
  right: 70%;


}
#Dangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 20% ;
  right: 80%;


}
#Eangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 80% ;
  right: 20%;


}
#Fangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156);
  display: inline-block;

  position: fixed;
  left: 60% ;
  right: 40%;


}
#Gangrymode{

  min-width: 12px;
  min-height:300px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(8, 6, 156, );
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;


}


#Asmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 55% ;
  right: 55%;


}

#Bsmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 35% ;
  right: 65%;


}
#Csmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 45% ;
  right: 55%;


}
#Dsmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 25% ;
  right: 75%;


}
#Esmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 85% ;
  right: 15%;


}
#Fsmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 60% ;
  right: 40%;


}
#Gsmallangrymode{

  min-width: 12px;
  min-height:100px;
  border-radius: 0%;
  /* border: 1px solid pink; */
  background-color: rgb(83, 81, 216);
  display: inline-block;

  position: fixed;
  left: 50% ;
  right: 50%;
}

.AsadContainer {
  position:fixed !important;
  left: 80% !important;
  right:20% !important; 
  top:50% !important;
  bottom:50% !important;
  

}

.AsadContainer {
  position:fixed !important;
  left: 40% !important;
  right:60% !important; 
  top:50% !important;
  bottom:50% !important;
}

#Asadmode {
  /* display: inline-block; */
  background: #005ce6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left : 90% ;
  right: 20%;
  color:#0F0;
}
#Asadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid  #005ce6;
  transform: translateX(-50%);
}
.BsadContainer {
  position:fixed !important;
  left: 30% !important;
  right:70% !important; 
  top:50% !important;
  bottom:50% !important;
}
#Bsadmode {
  display: inline-block;
  background:  #0047b3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Bsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #0047b3;
  transform: translateX(-50%);
}

.CsadContainer {
  position:fixed !important;
  left: 20% !important;
  right:80% !important; 
  top:50% !important;
  bottom:50% !important;
}

#Csadmode {
  display: inline-block;
  background: #e6f0ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Csadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #e6f0ff;
  transform: translateX(-50%);
}


#Dsadmode {
  display: inline-block;
  background: #b3d1ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Dsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #b3d1ff;
  transform: translateX(-50%);
}
.EsadContainer {
  position:fixed !important;
  left: 70% !important;
  right:30% !important; 
  top:50% !important;
  bottom:50% !important;
  

}
#Esadmode {
  display: inline-block;
  background: #b3ffFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Esadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #b3ffFF;
  transform: translateX(-50%);
}

.FsadContainer {
  position:fixed !important;
  left: 60% !important;
  right:40% !important; 
  top:50% !important;
  bottom:50% !important;
  
}
#Fsadmode {
  display: inline-block;
  background:#4d94ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Fsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #4d94fF;
  transform: translateX(-50%);
}

.GsadContainer {
  position:fixed !important;
  left: 50% !important;
  right:50% !important; 
  top:50% !important;
  bottom:50% !important;
} 

#Gsadmode {
  display: inline-block;
  background: #1a75ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Gsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #1a75ff;
  transform: translateX(-50%);
}


.AsadContainer {
  position:fixed !important;
  left: 80% !important;
  right:20% !important; 
  top:50% !important;
  bottom:50% !important;
  

}

.AsmallsadContainer {
  position:fixed !important;
  left: 40% !important;
  right:60% !important; 
  top:50% !important;
  bottom:50% !important;
  max-width: 50px !important;
  max-height: 50px!important;
}

#Asmallsadmode {
  /* display: inline-block; */
  background: #005ce6;
  width: 50px;
  height:50px;
  border-radius: 50%;
  position: relative;
  left : 90% ;
  right: 20%;
  color:#0F0;
}
#Asmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid  #005ce6;
  transform: translateX(-50%);
}
.BsmallsadContainer {
  position:fixed !important;
  left: 30% !important;
  right:70% !important; 
  top:50% !important;
  bottom:50% !important;
}
#Bsmallsadmode {
  display: inline-block;
  background:  #0047b3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Bsmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #0047b3;
  transform: translateX(-50%);
}

.CsmallsadContainer {
  position:fixed !important;
  left: 20% !important;
  right:80% !important; 
  top:50% !important;
  bottom:50% !important;
}

#Csmallsadmode {
  display: inline-block;
  background: #e6f0ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Csmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #e6f0ff;
  transform: translateX(-50%);
}


#Dsmallsadmode {
  display: inline-block;
  background: #b3d1ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Dsmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #b3d1ff;
  transform: translateX(-50%);
}
.EsmallsadContainer {
  position:fixed !important;
  left: 70% !important;
  right:30% !important; 
  top:50% !important;
  bottom:50% !important;
  

}
#Esmallsadmode {
  display: inline-block;
  background: #b3ffFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Esmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #b3ffFF;
  transform: translateX(-50%);
}

.FsmallsadContainer {
  position:fixed !important;
  left: 60% !important;
  right:40% !important; 
  top:50% !important;
  bottom:50% !important;
  
}
#Fsmallsadmode {
  display: inline-block;
  background:#4d94ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Fsmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #4d94fF;
  transform: translateX(-50%);
}

.GsmallsadContainer {
  position:fixed !important;
  left: 50% !important;
  right:50% !important; 
  top:50% !important;
  bottom:50% !important;
} 

#Gsmallsadmode {
  display: inline-block;
  background: #1a75ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 80%;
  right: 20%;
  color:#0F0;
}
#Gsmallsadmode::before {
  content: "";
  position: absolute;
  top: -81%;
  left: 50%;
  border: 42px solid transparent;
  border-bottom: 62px solid #1a75ff;
  transform: translateX(-50%);
}

#wavy-line {
  width: 150px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  background-color: blue;
}
#wavy-line:before {
  content: attr(data-text);
  position: relative;
  top: -35px;
  color: rgba(0,0,0,0);
  width: calc(100% + 27px);
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: #25173A;
  text-decoration-line: underline;
  animation: animate .9s linear infinite;
  -webkit-animation: animate .9s linear infinite;
}

@keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}
@-webkit-keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}

.yoursong{

  position: relative;

}

.header{

  padding-bottom:0;
}


#outer-2{
 padding-top: 30px;

  display:none;
  width: 100%;
  text-align: center;
  bottom: 20%;
}

#inner-2 {
  display: inline-block;
}

canvas{

  margin-top: 40px;
}

#outer-3{
  padding-top: 30px;
 position: relative;
   display:block;
   width: 100%;
   text-align: center;
   top: 0%;
   left: 0;

   
 }
 
 #inner-3 {
   display: inline-block;
 }

 
.song-container{

  width: 100%;
  height: 100%;
}



#headertextleft{
  margin-left:auto; 
  margin-right:0; 
  height: 100%;
  text-align: center;
}

.logo {
  
  max-height:50px;
  /* max-width:200px; */
  background-size: cover;
  top: 15%;
}

#header2{
  float:right;
  font-family: 'Roboto Mono', monospace!important;

}
h1{
  text-align: center;
  font-family: 'Roboto Mono', monospace!important;

}

.logout{
  color:black;
}




 /*  happy Mode background background: #ee9ca7; 
background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); 

background: linear-gradient(to right, #ee9ca7, #ffdde1);  */

/* .sad{
background: #2980B9;  
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); } */
/* ANGRY MODE
background: #f12711;  
background: -webkit-linear-gradient(to right, #f5af19, #f12711); 
background: linear-gradient(to right, #f5af19, #f12711); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




/* #audio {

  background: #005ce6;
} */

.footer {
  bottom: 0;
  position: fixed;
  /* left:50%; */
}
.footercontainer{
  justify-content:space-around;
 display: flex;
width: 100%;
text-align: center; 
 /* margin: 0 auto; */
}
.headerLogo{
  font-size: 40px;
  color: black;
}
